@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #d8c8ba;
    width: 40rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

blockquote {
    font-style: italic;
    line-height: 1.618;
    font-size: 1.2em;
    width: 30em;
    position: relative;
}

blockquote::before {
    content: open-quote;
    /* Place it at the top-left */
    top: 0;
    left: 0;
  }
  
  blockquote::after {
    content: close-quote;
    /* Place it at thee bottom-right */
    bottom: 0;
    right: 0;
  }

blockquote h2 {
    margin: 4rem 1rem;
}

blockquote::before,
blockquote::after {
  background-color: #fff;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 1.618;
  font-size: 2em;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}

p {
    margin-top: 1rem;
    font-size: 1.4em;
}